<settings>

    <setting propertyKey="@Properties.themeStyle" title="@Strings.setting_theme_style">
        <settingConfig type="list">
            <listEntry value="0">@Strings.theme_nixie_cyan</listEntry>
            <listEntry value="1">@Strings.theme_lcd_cyan</listEntry>
            <listEntry value="2">@Strings.theme_lcd_green</listEntry>
            <listEntry value="3">@Strings.theme_lcd_amber</listEntry>
            <listEntry value="4">@Strings.theme_lcd_white</listEntry>
            <listEntry value="5">@Strings.theme_lcd_siemens</listEntry>
            <listEntry value="10">@Strings.theme_nixie_amber</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.useAod" title="@Strings.setting_use_aod">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showTopBattery" title="@Strings.setting_show_top_battery">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.showTopCharts" title="@Strings.setting_show_top_charts">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.topChartLeft" title="@Strings.top_chart_left_label">
        <settingConfig type="list">
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="30">@Strings.metric_pressure</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.topChartRight" title="@Strings.top_chart_right_label">
        <settingConfig type="list">
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="30">@Strings.metric_pressure</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.topLeftChartType" title="@Strings.setting_top_left_chart_type">
        <settingConfig type="list">
            <listEntry value="0">@Strings.chart_style_solid</listEntry>
            <listEntry value="1">@Strings.chart_style_dot_matrix</listEntry>
            <listEntry value="2">@Strings.chart_style_stepped</listEntry>
            <listEntry value="3">@Strings.chart_style_oscilloscope</listEntry>
            <listEntry value="4">@Strings.chart_style_lcd</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.topRightChartType" title="@Strings.setting_top_right_chart_type">
        <settingConfig type="list">
            <listEntry value="0">@Strings.chart_style_solid</listEntry>
            <listEntry value="1">@Strings.chart_style_dot_matrix</listEntry>
            <listEntry value="2">@Strings.chart_style_stepped</listEntry>
            <listEntry value="3">@Strings.chart_style_oscilloscope</listEntry>
            <listEntry value="4">@Strings.chart_style_lcd</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.showLeftBar" title="@Strings.setting_show_left_bar">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.leftFlankSlot" title="@Strings.flank_left_label">
        <settingConfig type="list">
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showRightBar" title="@Strings.setting_show_right_bar">
        <settingConfig type="boolean" />
    </setting>


    <setting propertyKey="@Properties.rightFlankSlot" title="@Strings.flank_right_label">
        <settingConfig type="list">
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSlot1" title="@Strings.setting_show_slot1">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.bottomSlot1" title="@Strings.slot1_label">
        <settingConfig type="list">
            <listEntry value="8">@Strings.metric_time</listEntry>
            <listEntry value="9">@Strings.metric_date</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="1">@Strings.metric_distance</listEntry>
            <listEntry value="2">@Strings.metric_calories</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="12">@Strings.metric_resting_hr</listEntry>
            <listEntry value="11">@Strings.metric_hrv</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="14">@Strings.metric_training_readiness</listEntry>
            <listEntry value="17">@Strings.metric_training_status</listEntry>
            <listEntry value="15">@Strings.metric_recovery_time</listEntry>
            <listEntry value="18">@Strings.metric_acute_load</listEntry>
            <listEntry value="16">@Strings.metric_vo2_max</listEntry>
            <listEntry value="19">@Strings.metric_endurance_score</listEntry>
            <listEntry value="20">@Strings.metric_hill_score</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="24">@Strings.metric_weather</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="25">@Strings.metric_sunrise</listEntry>
            <listEntry value="26">@Strings.metric_sunset</listEntry>
            <listEntry value="27">@Strings.metric_moon_phase</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
            <listEntry value="29">@Strings.metric_bluetooth</listEntry>
            <listEntry value="7">@Strings.metric_seconds</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSlot2" title="@Strings.setting_show_slot2">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.bottomSlot2" title="@Strings.slot2_label">
        <settingConfig type="list">
            <listEntry value="8">@Strings.metric_time</listEntry>
            <listEntry value="9">@Strings.metric_date</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="1">@Strings.metric_distance</listEntry>
            <listEntry value="2">@Strings.metric_calories</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="12">@Strings.metric_resting_hr</listEntry>
            <listEntry value="11">@Strings.metric_hrv</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="14">@Strings.metric_training_readiness</listEntry>
            <listEntry value="17">@Strings.metric_training_status</listEntry>
            <listEntry value="15">@Strings.metric_recovery_time</listEntry>
            <listEntry value="18">@Strings.metric_acute_load</listEntry>
            <listEntry value="16">@Strings.metric_vo2_max</listEntry>
            <listEntry value="19">@Strings.metric_endurance_score</listEntry>
            <listEntry value="20">@Strings.metric_hill_score</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="24">@Strings.metric_weather</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="25">@Strings.metric_sunrise</listEntry>
            <listEntry value="26">@Strings.metric_sunset</listEntry>
            <listEntry value="27">@Strings.metric_moon_phase</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
            <listEntry value="29">@Strings.metric_bluetooth</listEntry>
            <listEntry value="7">@Strings.metric_seconds</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSlot3" title="@Strings.setting_show_slot3">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.bottomSlot3" title="@Strings.slot3_label">
        <settingConfig type="list">
            <listEntry value="8">@Strings.metric_time</listEntry>
            <listEntry value="9">@Strings.metric_date</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="1">@Strings.metric_distance</listEntry>
            <listEntry value="2">@Strings.metric_calories</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="12">@Strings.metric_resting_hr</listEntry>
            <listEntry value="11">@Strings.metric_hrv</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="14">@Strings.metric_training_readiness</listEntry>
            <listEntry value="17">@Strings.metric_training_status</listEntry>
            <listEntry value="15">@Strings.metric_recovery_time</listEntry>
            <listEntry value="18">@Strings.metric_acute_load</listEntry>
            <listEntry value="16">@Strings.metric_vo2_max</listEntry>
            <listEntry value="19">@Strings.metric_endurance_score</listEntry>
            <listEntry value="20">@Strings.metric_hill_score</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="24">@Strings.metric_weather</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="25">@Strings.metric_sunrise</listEntry>
            <listEntry value="26">@Strings.metric_sunset</listEntry>
            <listEntry value="27">@Strings.metric_moon_phase</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
            <listEntry value="29">@Strings.metric_bluetooth</listEntry>
            <listEntry value="7">@Strings.metric_seconds</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.showSlot4" title="@Strings.setting_show_slot4">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.bottomSlot4" title="@Strings.slot4_label">
        <settingConfig type="list">
            <listEntry value="8">@Strings.metric_time</listEntry>
            <listEntry value="9">@Strings.metric_date</listEntry>
            <listEntry value="0">@Strings.metric_steps</listEntry>
            <listEntry value="1">@Strings.metric_distance</listEntry>
            <listEntry value="2">@Strings.metric_calories</listEntry>
            <listEntry value="3">@Strings.metric_floors</listEntry>
            <listEntry value="21">@Strings.metric_intensity_minutes</listEntry>
            <listEntry value="4">@Strings.metric_heartrate</listEntry>
            <listEntry value="12">@Strings.metric_resting_hr</listEntry>
            <listEntry value="11">@Strings.metric_hrv</listEntry>
            <listEntry value="13">@Strings.metric_pulse_ox</listEntry>
            <listEntry value="5">@Strings.metric_stress</listEntry>
            <listEntry value="10">@Strings.metric_body_battery</listEntry>
            <listEntry value="14">@Strings.metric_training_readiness</listEntry>
            <listEntry value="17">@Strings.metric_training_status</listEntry>
            <listEntry value="15">@Strings.metric_recovery_time</listEntry>
            <listEntry value="18">@Strings.metric_acute_load</listEntry>
            <listEntry value="16">@Strings.metric_vo2_max</listEntry>
            <listEntry value="19">@Strings.metric_endurance_score</listEntry>
            <listEntry value="20">@Strings.metric_hill_score</listEntry>
            <listEntry value="22">@Strings.metric_altitude</listEntry>
            <listEntry value="24">@Strings.metric_weather</listEntry>
            <listEntry value="23">@Strings.metric_temperature</listEntry>
            <listEntry value="25">@Strings.metric_sunrise</listEntry>
            <listEntry value="26">@Strings.metric_sunset</listEntry>
            <listEntry value="27">@Strings.metric_moon_phase</listEntry>
            <listEntry value="6">@Strings.metric_battery</listEntry>
            <listEntry value="28">@Strings.metric_phone_battery</listEntry>
            <listEntry value="29">@Strings.metric_bluetooth</listEntry>
            <listEntry value="7">@Strings.metric_seconds</listEntry>
        </settingConfig>
    </setting>

    <!-- Theme Settings -->
    
    <!-- Top Widget Settings -->

    <!-- Side Flanks -->

    <!-- Slot 1 -->

    <!-- Slot 2 -->

    <!-- Slot 3 -->

    <!-- Slot 4 -->
</settings>
